
        
        img{
            position: static;
            border: 10px double palevioletred;
            border-radius: 50%;
        }

           h1{
            color: palevioletred;
            font-size:xx-large;
            font-family:cursive;
        }
        
           h2{
             color: palevioletred;
             font-size:large;
             font-family:cursive;
             position: relative;
         
        }
        
           p{
            color: pink;
            font-size: medium;
            font-family: cursive;
           }
           
           .button {
             border: double;
             color: rgb(116, 5, 33);
             padding: 15px 32px;
             text-align: center;
             display: inline-block;
             font-size: 16px;
             margin: 4px 2px;
             cursor: pointer;
             position: absolute;
             top: 200px;
             left: 350px;

            }
            .button1 {
                background-color: #eb81bb;
            }
             .style{
                width: 500px;
                height: 200px;
                border: 5px double palevioletred;
                border-radius: 20px;
                padding: 5px 5px;
                font-size: large;
                font-family: cursive;
                margin: auto;
                position: fixed;
                bottom: 100px;
                left: 500px;
                top: 510px;
        

            }
        
            
            h1{
                color: palevioletred;
                font-size:xx-large;
                font-family:cursive;
                
                
            }
            body{
                background-image: url(https://upload-os-bbs.hoyolab.com/upload/2022/07/13/11424699/964eeabf28127a0ef8c5544452fa60ca_2347695546541689032.png);
                border: 10px double palevioletred;
                border-radius: 10%;
                background-size: cover;
                padding: 10px;
                backdrop-filter: blur(10px);
               } 
            
            
                